terraform/.terraform/*
.gitignore
terraform/.terraform.lock.hcl
files/win_key.pem
/terraform/venv/
/terraform/.idea/
/.idea/*

/terraform/.terraform.tfstate.lock.info
/terraform/terraform.tfstate
/terraform/files/*
